node_modules
dist
coverage
.git
.github
.vscode
.idea
*.md
.env
.env.*
!.env.example
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
Dockerfile*
docker-compose*.yml
.dockerignore
test
**/*.spec.ts
**/*-e2e.ts
tsconfig.build.tsbuildinfo
.DS_Store
